<mat-card @list>
  <mat-card-content>

    <!-- 
      Standard validation rules.
     -->
    <div class="info-row" @items *ngIf="passwordComponent.enableLowerCaseLetterRule && !passwordComponent.minLowerCase">
      <div *ngIf="passwordComponent.containAtLeastOneLowerCaseLetter; then done else error" @flipY>
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>{{lowerCaseCriteriaMsg}}</span>
    </div>

    <div class="info-row" @items *ngIf="passwordComponent.enableUpperCaseLetterRule && !passwordComponent.minUpperCase">
      <div *ngIf="passwordComponent.containAtLeastOneUpperCaseLetter; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>{{upperCaseCriteriaMsg}}</span>
    </div>

    <div class="info-row" @items *ngIf="passwordComponent.enableDigitRule && !passwordComponent.minDigits">
      <div *ngIf="passwordComponent.containAtLeastOneDigit; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>{{digitsCriteriaMsg}}</span>
    </div>

    <div class="info-row" @items *ngIf="passwordComponent.enableSpecialCharRule && !passwordComponent.minSpecial">
      <div *ngIf="passwordComponent.containAtLeastOneSpecialChar; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>{{specialCharsCriteriaMsg}}</span>
    </div>

    <div class="info-row" @items *ngIf="passwordComponent.enableLengthRule">
      <div *ngIf="passwordComponent.containAtLeastMinChars; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>{{minCharsCriteriaMsg}}</span>
    </div>

    <div class="info-row" @items *ngIf="passwordComponent.customValidator">
      <div *ngIf="passwordComponent.containAtCustomChars; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>{{customCharsCriteriaMsg}}</span>
    </div>

    <div *ngIf="enableScoreInfo" class="info-row" @items>
      <div *ngIf="passwordComponent.strength === 100; then done else error">
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>Password's strength = {{passwordComponent.strength}} %100</span>
    </div>

    <!-- 
      Extended Validation Rules.
     -->
    <!-- Minimum lower case. -->
    <div class="info-row" @items *ngIf="passwordComponent.minLowerCase">
      <div *ngIf="passwordComponent.containsMinLowerCase; then done else error" @flipY>
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>{{minLowerCaseCriteriaMsg}}</span>
    </div>

    <!-- Minimum upper case. -->
    <div class="info-row" @items *ngIf="passwordComponent.minUpperCase">
      <div *ngIf="passwordComponent.containsMinUpperCase; then done else error" @flipY>
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>{{minUpperCaseCriteriaMsg}}</span>
    </div>

    <!-- Minimum digits. -->
    <div class="info-row" @items *ngIf="passwordComponent.minDigits">
      <div *ngIf="passwordComponent.containsMinDigits; then done else error" @flipY>
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>{{minDigitsCriteriaMsg}}</span>
    </div>

    <!-- Minimum special characters. -->
    <div class="info-row" @items *ngIf="passwordComponent.minSpecial">
      <div *ngIf="passwordComponent.containsMinSpecial; then done else error" @flipY>
      </div>
      <ng-template #done>
        <mat-icon @positiveState color="primary">done</mat-icon>
      </ng-template>
      <ng-template #error>
        <mat-icon @negativeState color="warn">error</mat-icon>
      </ng-template>
      <span>{{minSpecialCharsCriteriaMsg}}</span>
    </div>

  </mat-card-content>
</mat-card>
